<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Ashland Vulnerable Server</title>
</head><body>

<form method="get" action="/index">	
 <label for="insec">Some data:</label>
 <input type="text" id="insec" name="insec">
 <input type="submit" value="Submit">
<form>

<h1>Relevant Server System Properties</h1>
<p>
java.util.logging.manager is: <span th:text="${logmgr}">Unknown</span>.
</p>

<p>
log4j2.formatMsgNoLookups is: <span th:text="${l4jfmnl}">Unknown</span>.
</p>

</body></html>
