<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Medford Testing Server</title>
</head><body>

<form method="get" action="/index">	
 <label for="targetServer">Target server (DO NOT do this without permission from owner of target):</label>
 <input type="text" id="targetServer" name="targetServer" th:value="${targetServer}"/>
 <input type="submit" value="Submit"/>
</form>

<h1>Results</h1>
<p>
Status is: <span th:text="${status}">Unknown</span>.
</p>

</body></html>
